[submodule "Documents"]
	path = Documents
	url = https://github.com/MahendraSondagar/Documents
[submodule "Examplse"]
	path = Examplse
	url = https://github.com/MahendraSondagar/Examplse
[submodule "soc_blinky"]
	path = soc_blinky
	url = https://github.com/MahendraSondagar/soc_blinky
[submodule "soc_thunderboard_brd4166a"]
	path = soc_thunderboard_brd4166a
	url = https://github.com/MahendraSondagar/soc_thunderboard_brd4166a
[submodule "blink_kernel_freertos"]
	path = blink_kernel_freertos
	url = https://github.com/MahendraSondagar/blink_kernel_freertos
[submodule "blink_pwm_baremetal"]
	path = blink_pwm_baremetal
	url = https://github.com/MahendraSondagar/blink_pwm_baremetal
